@import 'styles/config';

.headline {
  font-size: 2rem;
  font-weight: 700;
}

.line {
  background-color: $color-1;
  height: 1px;
  margin: 2rem 0;
  max-width: $max-width;
  text-align: center;
}
